section{
    display: flex;
    width: 1000px;
    height: 300px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: default;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.fotos{
    display: grid;
    grid-template-columns: repeat(auto-fit,
                            minmax(150px, 1fr));
    gap: 15px;
}
img {
    border-radius: 10px;
    padding: .4rem;
}